<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $(rankings_table).DataTable({
                ajax: 'api/elo_data',
                columns: [
                    {data: 'name'},
                    {data: 'elo'}
                ]   
            })
        });
    </script>

    <table id="rankings_table" class="table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Elo Rating</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>