<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/themes/odometer-theme-default.css" />
    <link rel="stylesheet" type="text/css" href="{% static "VexELO_rankings/rankings.css" %}">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.js"></script>
    <script type="text/javascript" src="{% static "VexELO_rankings/rankings.js" %}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90662089-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!--This puts a percentage sign after the odometer numbers, and sets the font size-->
    <style>
        
    </style>

    <table id="rankings_table" class="table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Elo Rating</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h1 class="text-center" style="padding-bottom:10px">Match Prediction</h1>

    <div class="form-group center-block" style="padding:10px; max-width: 1000px">
        <div class="row">
            <div class="form-group col-xs-4 text-left">
                <div class="pull-left">
                    <label for="inputRedTeam1">Red Team 1:</label>
                    <div>
                        <input type="text" class="form-control autocomplete" id="inputRedTeam1">
                    </div>
                    <label for="inputRedTeam2">Red Team 2:</label>
                    <div>
                        <input type="text" class="form-control autocomplete" id="inputRedTeam2">
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-4 text-center">
                <div>
                    <button type="button" class="btn btn-primary btn-lg" id="predictButton">Predict Match</button>
                </div>
            </div>
            <div class="form-group col-xs-4 text-right">
                <div class="pull-right">
                    <label for="inputBlueTeam1">Blue Team 1:</label>
                    <div>
                        <input type="text" class="form-control autocomplete" id="inputBlueTeam1">
                    </div>
                    <label for="inputBlueTeam2">Blue Team 2:</label>
                    <div>
                        <input type="text" class="form-control autocomplete" id="inputBlueTeam2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="form-group col-xs-6">
                <h1 class="odometer" style="color:red" id="redWinProb"><big>0%</big></h1>
                <h2><small>chance the red team wins</small></h2>
            </div>
            <div class="form-group col-xs-6 pull-right">
                <div class="pull-right text-right">
                    <h1 class="odometer" style="color:blue" id="blueWinProb"><big>0%</big></h1>
                    <h2><small>chance the blue team wins</small></h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>