<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $(rankings_table).DataTable({
                ajax: 'api/elo_data',
                columns: [
                    {data: 'name'},
                    {data: 'elo'}
                ]   
            })
        });
    </script>

    <table id="rankings_table" class="table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Elo Rating</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h1 class="text-center" style="padding-bottom:10px">Match Prediction</h1>

    <div class="form-group center-block" style="padding:10px; max-width: 1000px">
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="inputRedTeam1">Red Team 1:</label>
                <input type="text" class="form-control" id="inputRedTeam1" style="max-width: 100px">
                <label for="inputRedTeam2">Red Team 2:</label>
                <input type="text" class="form-control" id="inputRedTeam2" style="max-width: 100px">
            </div>
            <div class="form-group col-xs-4 text-center">
                <div>
                    <button type="button" class="btn btn-primary btn-lg" id="predictButton">Predict Match</button>
                </div>
            </div>
            <div class="form-group col-xs-4">
                <div class="pull-right">
                    <label for="inputBlueTeam1">Blue Team 1:</label>
                    <input type="text" class="form-control" id="inputBlueTeam1" style="max-width: 100px">
                    <label for="inputBlueTeam2">Blue Team 2:</label>
                    <input type="text" class="form-control" id="inputBlueTeam2" style="max-width: 100px">
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="form-group col-xs-6">
                <h1 style="color:red" id="redWinProb"><big>0%</big></h1>
                <h2><small>chance the red team wins</small></h2>
            </div>
            <div class="form-group col-xs-6 pull-right">
                <div class="pull-right text-right">
                    <h1 style="color:blue" id="blueWinProb"><big>0%</big></h1>
                    <h2><small>chance the blue team wins</small></h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>